<!DOCTYPE html>
<html>
<head>
  <title>Mi página web</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      max-width: 800px;
    }

    .text {
      flex-grow: 1;
      font-size: 24px;
    }

    .buttons {
      display: flex;
      align-items: center;
    }

    .buttons button {
      margin-left: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="text">
        <h1>Compra realizada con éxito</h1>
        <h1>;)</h1>
      </div>
      <div class="buttons">
        <button class="btn btn-primary">Cerrar sesión</button>
        <button class="btn btn-success">Seguir comprando</button>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
